<div class="row">
  <div class="col-sx-12">
    <p>Add new servers or bluprints</p>
    <label>Server Name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName" />
    <label>Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent" />
    <br />
    <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
    <button class="btn btn-primary" (click)="onAddbluePrint()">
      Add Server bluePrint
    </button>
  </div>
</div>
